In [ ]:
Variables (Values) in Python:-

In [ ]:
Rules of Variables Declaration:-
    Rule - 1 No name spaces while declaring the variable name

In [1]:
Ex: first name = 'Nihar'

SyntaxError: invalid syntax (3411396236.py, line 1)

In [3]:
firstname = 'Nihar'
print(firstname)

Nihar

In [4]:
first_name = 'Nihar'
print(first_name)

Nihar

In [ ]:
Rule - 2 Variable name should not start with a number.Its fine to put number in between or at end.

In [5]:
1name='Nihar'
print'1name'

SyntaxError: invalid syntax (3069999772.py, line 1)

In [6]:
name1='Nihar'
print(name1)

Nihar

In [ ]:
Rule - 3 A Variable name should not contain any special characters in it i.e @$%&* etc.

In [7]:
name@='Nihar'
print(name@)

SyntaxError: invalid syntax (1954644642.py, line 2)

In [8]:
commenting the line in Python should be done with prefix#.

SyntaxError: invalid syntax (243622039.py, line 1)

In [9]:
#its a comment

In [ ]:
Data Types in Python :- 
    5 Types are there
    1. String
    2. Number (innteger & floats aka decimals)
    3. List
    4. Tuple
    5. Dictionaries

In [ ]:
Data broadly classified into two categories:- 
    1. Mutable Data Type - which is Flexible which can alter & edit
    2. Immutable Data Type - Which is Fixed one which cannot able to alter.

In [ ]:
STRING DATA:-
It is a seried of characters declared in quotes, which is a immutable type.
It can be declared in 3 ways:-
a) Single Quote ('')
b) Double Quote("")
c) Triple Quote("""""")

In [10]:
name='Nihar'
print(name)

Nihar

In [11]:
name="Sachin"
print(name)

Sachin

In [12]:
name="""Faiyaz"""
print(name)

Faiyaz