In [ ]:
Introduction to List datatype:-
    List is a collection of items defined in a particular order, which is classified under mutable type.
    List data declared with square bracket [].

In [ ]:
Indexing:- Each componenet is list datatype have index number starting with 0,1,2,------n

In [1]:
students = ['simran', 'tasleem', 'nihar', 'ravi', 'kumar', 'abdul']

In [2]:
print(students)

['simran', 'tasleem', 'nihar', 'ravi', 'kumar', 'abdul']

In [ ]:
above list have following index value 0,1,2,3,4&5.

In [ ]:
#access the specific element from the list

In [ ]:
ex. access ravi from list

In [3]:
print(students[3])

ravi

In [ ]:
want to access ravi in title format

In [4]:
print(students[3].title())

Ravi

In [ ]:
#add element to above students list

In [ ]:
ex. add shradha to the list

In [5]:
students.append('shradha')

In [6]:
print(students)

['simran', 'tasleem', 'nihar', 'ravi', 'kumar', 'abdul', 'shradha']

In [ ]:
the newly added element will be added at the last place of the list. If we want to add at specific position use insert approach as below:-

In [ ]:
ex- add hamed to the second position.

In [7]:
students.insert(2,'hamed')

In [8]:
print(students)

['simran', 'tasleem', 'hamed', 'nihar', 'ravi', 'kumar', 'abdul', 'shradha']

In [ ]:
#modify element from the list

In [ ]:
replace prasad inplace of ravi

In [9]:
print(students[4])

ravi

In [10]:
students[4]='prasad'

In [11]:
print(students)

['simran', 'tasleem', 'hamed', 'nihar', 'prasad', 'kumar', 'abdul', 'shradha']

In [12]:
print (students[4])

prasad

In [ ]:
#how to delete element from the list

In [ ]:
delete hamed from above list

In [13]:
print(students[2])

hamed

In [14]:
del students[2]

In [15]:
print(students)

['simran', 'tasleem', 'nihar', 'prasad', 'kumar', 'abdul', 'shradha']